body {
  font-family: "sans-serif";
  text-align: center;
}

.chooseText {
    font-size: 30px;
}

.characters {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.charSelect {
    background-color: #7FC55A;
    height: 510px;
}

.characterSelect {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 50px;
    background-color: #7FC55A;
    border: none;
}

.adventure {
    display: flex;
    flex-direction: column;
    height: 510px;
    background-color: #7FC55A;
}

.adventureButton {
    margin: 25px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    background-color: #918564;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

img:focus {
    outline: none;
}

.counter {
  font-size: 3rem;
}

.controls button {
  margin: 5px;
}

.characterSelect button {
    background: none;
    border: none;
    padding: 0;
    margin: 10px;
    cursor: pointer;
}

.characterDisplay {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 500px;

    background: url("../images/forest.png") repeat-x;
    background-size: 400px;
    background-color: #7FC55A;
    padding-bottom: 10px;
}

.creatureStats {
    display: flex;
    margin-top: 10px;
}

.progressBar {
    width: 100px;
    height: 15px;
    background-color: lightgrey;
}

.progress {
    height: 100%;
    background-color: red;
}

.character {
    display: flex;
    flex-direction: column;
}

.hpImage {
    height: 15px;
    width: 15px;
    padding-right: 10px;
}

.creature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victoryDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 510px;
    background-color: #7FC55A;
    font-size: 75px;
}

.victoryImg {
    height: 250px;
    width: 200px;
    padding: 50px 15px;
}

.experience {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.experienceBar {
    display: flex;
    align-items: center;
}

.experienceLevel.progressBar {
    display: flex;
    margin-left: 15px;
}

.experienceLevel.progress {
    background-color: purple;
}

.faceLeft .creature img {
    transform: scaleX(-1);
}

.enemy {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.spellAttack {
    cursor: url(../images/lightning.png), auto;
}

.weaponAttack {
    cursor: url(../images/sword.png), auto;
}

.wasHit {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    /* When the animation is finished, start again */
    animation-iteration-count: 1;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
